:host{
    position: relative;
  }

.container {
    height: auto;
    min-height: 100vh;
    position: relative;
    margin-top: 10%;
}

@media  (max-width: 800px) {
  .container{
    margin-top: 150px;
  }
}

