<div class="main-content">
  <div class="container-fluid" style="min-height: 100vh;">
      <div class="row" style="display: flex;
      justify-content: space-between;">
         
      </div>
      <div class="row" style="display: flex;
      justify-content: space-between; margin-left: 5%; margin-right: 5%;">
          <div class="col-md-5">
              <div class="card card-chart">
                  <div class="card-header card-header-success">
                      <div class="ct-chart" id="dailySalesChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Daily Reviews</h4>
                      <p class="card-category">
                          <span class="text-success"> Total Review:- {{totalReviews}}</span>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> updated 4 minutes ago
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-5">
              <div class="card card-chart">
                  <div class="card-header card-header-warning">
                      <div class="ct-chart" id="websiteViewsChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Added Places</h4>
                      <p class="card-category">
                        <span class="text-success"> Total Places :- {{totalProducts}} </span>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                        <i class="material-icons">access_time</i> updated 15 minutes ago
                      </div>
                  </div>
              </div>
          </div>
         
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header card-header-tabs card-header-primary">
                    <h3 class="card-title">Recently Added Places</h3>
                   </div>
                   <div *ngIf = "!showproduct" class="spinner" style="margin:auto;">
                    <br><br>
                    <h4> <mat-spinner strokeWidth='5' stroke="#ab47bc" diameter='50'></mat-spinner>Loading...</h4>
                  </div>
                <div class="card-body table-responsive" *ngIf = "showproduct">
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <th>Number</th>
                            <th>Place Name</th>
                            <th>Description</th>
                            <th>Category</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let card of this.products; let i = index " (click)="viewProduct(i);" style="cursor: pointer;">
                                <td>{{i+1}}</td>
                                <td>{{card.title}}</td>
                                <td>{{card.shortDescription.length>8 ? (card.shortDescription | slice:0:15)+ '...': (card.shortDescription)}} </td>
                                <td>{{card.category}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
          <div class="col-lg-6 col-md-12">
              <div class="card">
                  <div class="card-header card-header-warning">
                      <h3 class="card-title">Newly Added Reviews</h3>
                     </div>
                     <div *ngIf = "!showReview" class="spinner" style="margin:auto;">
                        <br><br>
                        <h4> <mat-spinner strokeWidth='5' stroke="#ab47bc" diameter='50'></mat-spinner>Loading...</h4>
                      </div>
                  <div class="card-body table-responsive" *ngIf="showReview">
                      <table class="table table-hover">
                          <thead class="text-warning">
                              <th>ID</th>
                              <th>Reviewer</th>
                              <th>Place</th>   
                          </thead>
                          <tbody >
                            <tr *ngFor="let card of this.reviews; let i = index" (click)="viewReview(i);" style="cursor: pointer;">
                                <td>{{i+1}}</td>
                                <td>{{card.username}}</td>
                                <td>{{card.productName}}</td>
                            </tr>
                              
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
